:root{
    --cor-de-fundo:#f52079;
    --verde:#4adb30;
    --branco:#000000;
    --botao-ativo:#3A375E
    --botao-inativo:rgba(58,55,94,0.5);
     --texto-fundo:rgba(58,55,94,0.3);

}
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,400;0,700;1,400;1,700&display=swap&#39;');
body{
    background-color: var(--cor-de-fundo);
    color:var(--branco);
    font-family:'Chakra Petch',sans-serif;
}
.conteudo-principal{
    display:flex;
    flex-direcion:column;
    justify-content:center;
    align-items:center;
    max-width: 1200px;
    width:100%;
    margin: 0 auto0;

}
.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}
.titulo-principal span {
    color:var(--verde);
}
.botao{
font-family:´Crara Petch´,sans-serif;
background-color: var(--botao-inativo);
color:var(--branco);
display: flex;
justify-content: center;
padding: 1em;
font-size: 18px;
align-items: center;
width: 100%;
}